<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mr-3" routerLink="/home">Work Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home">Home</a>
        <a *ngIf="userIsAdmin === 'admin' && userIsAuthenticated" class="nav-item nav-link" routerLink="/userlist">Users</a>
        <a *ngIf="userIsAuthenticated" class="nav-item nav-link" routerLink="/postlist">Tasks</a>
        <a *ngIf="userIsAuthenticated" class="nav-item nav-link" routerLink="/create">Create Task</a>
        
      </div>
      <div class="navbar-nav ml-auto">
        <a *ngIf="!userIsAuthenticated" class="nav-item nav-link" routerLink="/login">Login</a>
        <a *ngIf="!userIsAuthenticated" class="nav-item nav-link" routerLink="/signup">Sign Up</a>
        <a *ngIf="userIsAuthenticated" class="nav-item nav-link" (click)="onLogout()">Logout</a>
      </div>


    </div>
  </div>
</nav>
