<!-- <mat-card>
  <mat-card-content>
  <mat-spinner *ngIf="isLoading"></mat-spinner> -->

<!-- <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <h2> Log In</h2>
    <mat-form-field class="full-width-input">
      <input matInput name="email"
      ngModel type="email" placeholder="E-Mail"
      #emailInput="ngModel" required email>

      <mat-error *ngIf="emailInput.invalid">
        Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <input type="password" name="password"
      ngModel matInput placeholder="Password"
       #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">
        Please enter a valid password.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary"
    type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card-content>
</mat-card> -->

<!--  Request me for a signup form or any type of help  -->
<div class="login-form">
  <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <input type="email" ngModel name="email" #emailInput="ngModel" class="form-control" placeholder="Email"
        required="required">
      <!-- <mat-error *ngIf="emailInput.invalid">
              Please enter a valid email.</mat-error> -->

    </div>

    <div class="form-group">
      <input type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel"
        class="form-control" required="required">
      <!-- <mat-error *ngIf="passwordInput.invalid">
              Please enter a valid password.</mat-error> -->
    </div>

    <button type="submit" class="btn btn-primary btn-block btn-lg" *ngIf="!isLoading">Login</button>
  </form>
  <div class="text-center small" *ngIf="!isLoading">Don't have an account?

    <a [routerLink]="['/signup']"> Sign Up</a>


  </div>

</div>
