<!-- <mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Task Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Task Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" style="margin-top: 55px;" *ngIf="!isLoading">

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
          <div class="form-group">

            <!-- <p class="h4 mb-4">Create Task</p> -->

            <!-- <div class="form-group"> -->
            <label for="name" class="control-label">Task Title</label>
            <input formControlName="title" type="text" name="title" class="form-control" id="title"
              aria-describedby="nameHelp" placeholder="Enter task title">
            <!-- <small id="nameHelp" class="help-block">Enter your contact’s name</small> -->
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <label for="email">Task Description</label>
            <textarea formControlName="content" type="text" name="email" class="form-control" id="email"
              aria-describedby="emailHelp" placeholder="Enter task description"></textarea>
            <!-- <small id="nameHelp" *ngIf="form.get('content').invalid" class="form-text text-muted">Enter your contact’s email</small> -->
            <!-- </div> -->

            <!-- <div class="form-group"> -->
            <!-- <label for="name">Task Status</label>
            <input formControlName="status" type="text" name="name" class="form-control" id="name"
              aria-describedby="nameHelp" placeholder="Enter task status"> -->
            <!-- <small id="nameHelp" *ngIf="form.get('status').invalid" class="form-text text-muted">Enter your contact’s status</small> -->
            <!-- </div> -->

            <div class="form-group">
              <label for='status'>Task Status</label>
              <select class="form-control" ui-select2 (change)="changeStatus($event)" formControlName="status">
                <option value="" disabled>Choose your status</option>
                <option *ngFor="let status of Status" [ngValue]="status">{{status}}</option>
              </select>
            </div>

            <br />
            <button class="btn btn-info btn-block" type="submit">Save Task</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
