<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="posts.length > 0 && !isLoading" >
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>

    <p>{{post.content}}</p>

    <mat-action-row >
      <a [routerLink]="['/edit', post.id]" mat-button color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
     <mat-action-row *ngIf="userIsAuthenticated && userId == post.creator">
      <a [routerLink]="['/edit', post.id]" mat-button color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
(page)="onChangedPage($event)" *ngIf="posts.length > 0"
></mat-paginator>
<p class="mat-body-1 info-text" *ngIf="posts.length <= 0 && !isLoading">No Posts added yet!</p> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container" style="margin-top: 53px;" *ngIf="posts.length > 0 && !isLoading">

  <table class="table table-hover">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Task Title</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; let ndx = index">
        <td>{{ndx+1}}</td>
        <td> {{ post.title }}</td>
        <td> {{ post.content }}</td>
        <td> {{ post.status }}</td>
        <td>
          <a *ngIf="userIsAuthenticated && (userId == post.creator || userIsAdmin == 'admin') " [routerLink]="['/edit', post.id]"
            class="btn btn-primary">Edit</a>

        </td>
        <td>
          <button *ngIf="userIsAuthenticated && (userId == post.creator || userIsAdmin == 'admin') " class="btn btn-danger"
            (click)="onDelete(post.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>

</div>
<div class="container" style="margin-top: 47px;" *ngIf="posts.length <= 0">
  <p class="mat-body-1 info-text" *ngIf="posts.length <= 0 && !isLoading">No Tasks added yet!</p>
</div>
