<section id="hero">
  <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
    <h1>Welcome to Task Manager</h1>
    <h2>
      We help organize everything for better productivity</h2>

    <a style="margin:7px;" *ngIf="!userIsAuthenticated" class="btn btn-info" routerLink="/login">Get Started
    </a>
    <a style="margin:7px;" *ngIf="userIsAuthenticated" class="btn btn-get-started " routerLink="/create">Add Task</a>
  </div>
</section>

<!-- <section class="view intro-2 rgba-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">



        <div class="col-md-6 text-center text-md-left margins">
          <div class="white-text">
            <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Get Productive with Our Task Manager </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h3 class="wow fadeInLeft" data-wow-delay="0.3s">From the small stuff to the big picture,
              We help organize everything for better productivity
              .</h3>
            <br>
            <a style="margin:7px;" *ngIf="!userIsAuthenticated" class="btn  btn-get-started btn-info" routerLink="/login">Get Started
            </a>
             <a style="margin:7px;" *ngIf="!userIsAuthenticated" class="btn btn-info" routerLink="/signup">Sign Up</a>
             <a style="margin:7px;" *ngIf="userIsAuthenticated" class="btn btn-info"
              routerLink="/postlist">View Tasks</a>
            <a style="margin:7px;" *ngIf="userIsAuthenticated" class="btn btn-info " routerLink="/create">Add Task</a>



          </div>
        </div>

        <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt=""
            class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section> -->
